---
interface Props {
  postName?: string
  imgObj: object
  category?: string
  title?: string
  footer: string
  children?: HTMLElement | HTMLElement[]
}


const category = `${Astro.props.category || 'automatizacion-con-excel'}`;
const postName = `${Astro.props.postName || 'rango-en-excel'}`;
const url = `/blog/${category}/${postName}`;
// const title = `${Astro.props.title || 'Automatiza tu éxito'}`;
// const footer = `${Astro.props.footer || '#Automatización de Procesos'}`;

import { Picture } from 'astro:assets';


const images:{[index:string]:any} ={}

// await Astro.glob('../content/blog/**/*_portada.png').then((files) => {
//     files.forEach((file) => {
//         const name = file.default.src.split(".")[0].split("/").pop()
//         images[name]=file.default
//     });
// });

// let coverImage = '/images/2023/' + imgName + '_portada.webp';
// let coverImage = `/blog/${category}/${postName}/images/${postName}_portada.png`

// if (!imageExists(coverImage)) {
//   // coverImage = '/images/2023/place-holder_portada.webp';
// }

// function imageExists(image_url){
//   if (existsSync(image_url)) {
    
//   } else {
//     return false;
//   }
//   return true;
// }
---

<div class="bg-blue-100 rounded-lg overflow-hidden md:flex p-0">
  <!-- Card Image -->
  <div class="w-full md:w-2/5 p-0">
    <a href={url} class="text-blue-500 hover:underline no-underline">
      <slot name="picture"></slot>
    </a>
  </div>

  <!-- Card Content -->
  <div class="w-full md:w-3/5 pl-2 pr-0 pt-0 pb-0">
    <div class="text-gray-700 p-0">
      <h3 class="text-2xl mb-0 mt-0">
        <a href={url} class="text-blue-500 hover:underline no-underline">
          <slot name="title"></slot>
        </a>
      </h3>
        <slot name="description" class="m-0">
        <h5><slot name="footer"></slot></h5>
    </div>
  </div>
</div>